@model TeamsHelper.WebApp.AuthorizationValidationFailedViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Authorization Validation Failed</h2>


<div>
    Access Token: @Model.Authorization.AccessToken
    <br>
    Refresh Token: @Model.Authorization.RenewToken
    <br>
    Row Id: @Model.Authorization.Id
    
    <br/>
    <br/>

    @Html.ActionLink("Back home", "AuthorizedHome", "Home")
</div>