@model TeamsHelper.WebApp.LoginViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h2>Login Form</h2>

    @Html.BeginForm("LoginPost", "Login", FormMethod.Post)
    {
    <div style="margin-top: 2px;">
        <span>Email address</span>
        @Html.TextBoxFor(x => x.Email)
    </div>

    <div style="margin-top: 2px;">
        <span>Password</span>
        @Html.PasswordFor(x => x.Password)
    </div>
    
    <input type="submit" value="Submit"/>
    }
</div>
</body>
</html>