@model TeamsHelper.WebApp.ViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Simple settings</h2>

<div style="margin: 15px;">
    @Html.ActionLink("Delete account", "Delete", "DeleteAccount")
</div>