@model TeamsHelper.WebApp.SetupViewModel

@{
    Layout = "_Layout";
}

<h2>title</h2>

<div>
    <span>Microsoft Account</span>
    <br/>

    @if (Model.MicrosoftValidation == null)
    {
        @Html.ActionLink("Authorize", "AuthorizeMicrosoft", "OAuth")
    }

    else
    {
        @await Html.PartialAsync("_TokenValidationView", Model.MicrosoftValidation)
    }

    <br/>
</div>

<div>
    <span>Google Account</span>
    <br/>

        @if (Model.GoogleValidation== null)
        {
            @Html.ActionLink("Authorize", "AuthorizeGoogle", "OAuth")
        }
    
        else
        {
            @await Html.PartialAsync("_TokenValidationView", Model.GoogleValidation)
        }


    <br/>
</div>