@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      @Html.ActionLink("login", "Login", "Login") or @Html.ActionLink("register", "Register", "Register")
</div>
</body>
</html>